html { font-family: serif; }
h1, h2, h4, h5, h6, h7, th, dt { font-family: sans; }
h1 { font-size: 300%; }
h2 { border-bottom: 2px solid black; }
code { font-weight: bold; }
a:link, a:visited, a:hover { text-decoration: none; }
.example { border-width: 0; background-color: #fff; border-radius: .5em; color: #333; padding: 0; }
#text-table-of-contents code { font-family: courier, monospace; }
#text-table-of-contents i {}
#text-table-of-contents b, h3 b { font-size: 50%; font-weight: normal; font-face: serif; text-transform: uppercase; letter-spacing: 0.1em;}

